<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1 style="margin-bottom: 1rem;">Upload File</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="upload" id="upload">
        <button type="submit">Upload</button>
    </form>
</body>
<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        fetch('/', {
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(data => {
            console.log(data);
        })
        .catch(err => console.log(err));
    });
</script>
</html>